In [1]:
import sqlite3
sqlite3.version

'2.6.0'

In [39]:
con = sqlite3.connect("C:\오유라\ddbvb.db")
type(con)

sqlite3.Connection

In [7]:
cursor = con.cursor()

In [20]:
cursor.execute("CREATE TABLE std(이름 text, 나이 int, 성적 text)")

In [9]:
#DDL (데이터정의어) => CREATE, ALTER, DROP
#DML (데이터조작어) => SELECT, INSERT, UPDATE, DELETE
#DCL (데이터제어어) => COMMIT, ROLLBACK, GRANT, REVOKE

In [11]:
cursor.execute("DROP TABLE std")

In [12]:
cursor.execute("DROP TABLE IF EXISTS sst")

In [25]:
cursor.execute('INSERT INTO std VALUES("오유라", 31, "A")')

In [22]:
cursor.execute('INSERT INTO std VALUES("오태라", 31, "A")')
cursor.execute('INSERT INTO std VALUES("오세라", 33, "A")')
cursor.execute('INSERT INTO std VALUES("오유리", 34, "A")')

In [26]:
con.commit()

In [27]:
cursor.execute('DELETE FROM std WHERE 이름 = "오유리"')

In [28]:
con.commit()

In [48]:
con.close()

In [36]:
#1)데이터베이스에 다시 연결을 한다. 
#2)cursor를 하나 만든다
#3)cursor.execute()
#4)cursor.fetchall()
#5)가져온결과를 하나의 row씩 출력한다.

ProgrammingError: Cannot operate on a closed database.

In [52]:
con = sqlite3.connect("C:\오유라\ddbvb.db")
cursor = con.cursor()
cursor.execute("SELECT * FROM std")
rows = cursor.fetchall()
for i in rows:
    print(i)

('                ', 31, 'A')
('오태라', 31, 'A')
('오세라', 33, 'A')
('오유라', 31, 'A')